<h3>Create Personnage</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nom</label>
      <input type="text" class="form-control" id="nom" required [(ngModel)]="personnage.nom" name="nom">
    </div>

    <div class="form-group">
      <label for="name">description</label>
      <input type="text" class="form-control" id="description" required [(ngModel)]="personnage.description" name="description">
    </div>

    <div class="form-group">
      <label for="name">Image</label>
      <input type="text" class="form-control" id="image" required [(ngModel)]="personnage.image" name="image">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>